body{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: wheat;
}
h1{
    color: red;

}
.mar{
    background-color: yellow;
    margin-left: 20%;
    margin-right: 20%;
}